.dog-card {
  border: 2px solid gray;
  border-radius: 1rem;
  width: 300px;
  height: 32rem;
  margin: 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.dog-image {
  width: 300px;
  height: 20em;
  border-radius: 1rem;
}

.disable-card {
  color: darkblue;
  font-size: small;
}

.disable-card:hover {
  text-decoration: wavy underline;
  font-size: medium;
}
