.dog-card {
  border: 2px solid gray;
  border-radius: 1rem;
  width: 320px;
  height: 35rem;
  margin: 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.dog-image {
  width: 320px;
  height: 20em;
  border-radius: 1rem;
}

.disable-card {
  color: darkblue;
  font-size: small;
  transition: 0.2s;
  text-decoration: none;
}

.disable-card:hover {
  text-decoration: none;
  font-size: medium;
  transform: scale(1.1);
}

.card-button {
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #237edf;
  transition: 0.2s;
  height: 1.5rem;
  margin-top: 5%;
}

.temper-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
