.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #003366;
  position: relative;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.visibile {
  bottom: 0;
  margin: 2rem;
  opacity: 1;
  position: absolute;
  z-index: 2;
}

.no-visible {
  opacity: 0;
}
