.search-container {
  margin-left: 1rem;
}

.search-input {
  margin-top: 4px;
  border-radius: 1rem;
  border: 2px solid gray;
  outline: none;
  height: 1.5rem;
}

.search-button {
  margin-left: 9px;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #237edf;
  color: white;
  transition: 0.2s;
  height: 1.5rem;
}

.search-button:hover {
  color: #237edf;
  background-color: white;
  font-size: 1rem;
}
