.nav-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 1.6rem;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid white;
  border-radius: 1rem;
}

.nav-container :link {
  text-decoration: none;
  font-size: medium;
}

.nav-container select {
  margin-left: 20px;
}

.disable {
    color: black;
}

.disable:hover {
    text-decoration: wavy underline;
    font-size: large;
}